<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @utilisateur.avatar %>
</p>

<%= link_to 'Edit', edit_utilisateur_path(@utilisateur) %> |
<%= link_to 'Back', utilisateurs_path %>
