<h1>Cart#index</h1>

<div class="section">
  <% if user_signed_in? %>
    <div id = "<%=@cart.id%>">
      <%= render 'layouts/content' %>
    </div>
    <div class="row justify-content-between">
      <div class="col-4" id="checkout">
        <%= link_to "Vider le panier", "/cart/checkout", class: "btn btn-sm btn-info bouton-d far fa-trash-alt", remote: true,  method: :post %>
      </div>
      <div class="col-4">
        <%= link_to "Payer", "/charges/new", class: "btn btn-sm btn-info bouton-d far fa-trash-alt" %>
      </div>
    </div>
  <% else%>
  <p>Enregistrez vous pour avoir un panier</p>
  <% end %>
</div>