<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Bonjour <%= @user.username %> </h1>
    <h1> Nous préparons votre commande ! </h1>

    <p>Voici un résumé de votre sélection : 
     <p> Total de votre commande : <%= @order.price %> </p>
    <br>
   <% @items.each do |i| %>
   <%= i.title %>
   <p><img width="350" height="230" src="<%= image_path(i.image_url) %>"></p>
   <%end%>
    <p>Nous vous remercions pour votre confiance.</p>
    <p>A bientôt sur Teleachat.com</p>

    
  </body>
</html>