<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1> Bonjour <%= @user.username %>  </h1>
    <h2> Bienvenue sur Télé à Chat !</h2>
    <p>Profitez des plus belles photos de chat du monde ! En cadeau ou en déco c'est ce qu'il vous faut !!</p>
    <p>Nous sommes fier de vous compter parmi nous !</p>
    <br>
    <p>" J'adore Télé à Chat, ce site a changé ma vie ! "<i> Phillipe Geluck</i></p>
  </body>
</html>