<h1>Cart#index</h1>

<div class="section">
  <% if user_signed_in? %>
    <div class='resume'>
      <%= render 'layouts/content_admin' %>
    </div>
    
  <% else%>
  <p>Enregistrez vous pour avoir un panier</p>
  <% end %>
</div>