<br/><br/>
<h2>Merci pour votre (a)chat !</h2>
<img src="/assets/tele_logo.png" alt="">

<div class="row justify-content-between">
  <div class="col-6" >
    <%= link_to "Voir mes commandes", "/historique", class: "btn btn-sm btn-info bouton-d far fa-trash-alt" %>
  </div>
  <div class="col-6">
    <%= link_to "Voir de nouveaux les photos", "/product", class: "btn btn-sm btn-info bouton-d far fa-trash-alt" %>
    </div>
  </div>
</div>


